.idea/
.vscode/
.DS_Store
.env
tmp/
*.tmp
*.log
__debug_bin
*.iml

release/
build/
run/

node_modules/
vue/

**/**/artifacts
**/**/target
**/**/test-tube-build
local_testnet_run-*nodes/
**/Cargo.lock

containers_homes/

# Cargo+Git helper file (https://github.com/rust-lang/cargo/blob/0.44.1/src/cargo/sources/git/utils.rs#L320-L327)
**/.cargo-ok
**/*.rs.bk
.devcontainer/

