[workspace]

members = [
    "contracts/icq",
    "contracts/ibc-transfer",
    "contracts/lp-strategy",
    "contracts/basic-vault",
    "contracts/intergamm-bindings-test",
    "contracts/qoracle-bindings-test",
    "packages/intergamm-bindings",
    "packages/quasar-types",
]
