name: Build (Go)

on:
  pull_request:
    branches:
      - main
      - fix/*
    paths-ignore:
      - 'smart-contracts/**'
  push:
    branches:
      - main
      - fix/*
    paths-ignore:
      - 'smart-contracts/**'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build-go:
    name: quasar-${{ matrix.targetos }}-${{ matrix.arch }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [ amd64, arm64 ]
        targetos: [ linux ]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Get git diff
        uses: technote-space/get-diff-action@v6.1.2
        with:
          PATTERNS: |
            **/**.go
            go.mod
            go.sum
            Makefile
            .github/workflows/build.yml
      - name: Setup Golang
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.7
        env:
          GOOS: ${{ matrix.targetos }}
          GOARCH: ${{ matrix.arch }}
      - name: Display go version
        if: env.GIT_DIFF
        run: go version
      - name: Build quasarnoded
        if: env.GIT_DIFF
        run: make build-reproducible-${{ matrix.arch }}
      - uses: actions/upload-artifact@v3
        if: env.GIT_DIFF
        with:
          name: quasarnoded-${{ matrix.targetos }}-${{ matrix.arch }}
          path: build/quasarnoded-${{ matrix.targetos }}-${{ matrix.arch }}