name: Test lst adapter (osmosis)

on:
  pull_request:
    branches:
      - main
    paths:
      - 'smart-contracts/contracts/lst-adapter-osmosis/Cargo.toml'
      - 'smart-contracts/contracts/lst-adapter-osmosis/**.rs'
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  unit-test:
    uses: ./.github/workflows/rust_basic.yml
    with:
      contract: 'lst-adapter-osmosis'
