name: Test range middleware

on:
  pull_request:
    branches:
      - main
    paths:
      - 'smart-contracts/contracts/range-middleware/Cargo.toml'
      - 'smart-contracts/contracts/range-middleware/**.rs'
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  unit-test:
    uses: ./.github/workflows/rust_basic.yml
    with:
      contract: 'range-middleware'
