name: Test Quasar

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency: 
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

# This workflow makes x86_64 binaries for linux.
# TODO: add darwin later
jobs:
  test-go:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Setup Golang
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.5
      - name: Display go version
        run: go version
      - name: Run all tests
        run: make test-cover
      - name: Code coverage report
        uses: codecov/codecov-action@v1.5.2
  test-rust:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Run unit-tests
        run: cd smart-contracts && cargo test --lib
      - name: Run vault-tests
        run: cd smart-contracts && cargo test --lib -p basic-vault
      # - name: Compile wasm code
      #   uses: docker://cosmwasm/rust-optimizer:0.12.6
      #   with:
      #     args: >-
      #       --rm -v "$(pwd)":/code 
      #       --mount type=volume,source="$(basename "$(pwd)")_cache",target=/code/target 
      #       --mount type=volume,source=registry_cache,target=/usr/local/cargo/registry
