name: Test token burner

on:
  pull_request:
    branches:
      - main
    paths:
      - 'smart-contracts/contracts/token-burner/Cargo.toml'
      - 'smart-contracts/contracts/token-burner/**.rs'
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  unit-test:
    uses: ./.github/workflows/rust_basic.yml
    with:
      contract: 'token-burner'
